/* ======================================================== */

/* Layout */
.layout {
  width: 100%;
}

/* ======================================================== */

/* Banner */
.layout-banner {
  background: url("../img/main-banner.jpg") center center / cover;
  height: 97rem;
  width: 100%;
  overflow-y: scroll;
}

.layout-banner::-webkit-scrollbar {
  display: none;
}

.layout-banner .layout-banner__container {
  height: 100%;
  width: 120rem;
  max-width: 100%;
  margin: auto;
  position: relative;
  top: 0;
  left: 0;
}

/* ======================================================== */
/* Layout Banner Search  */
.layout-banner__search {
  width: 47rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-white);
}

.layout-banner__search .banner-search__content {
  transform: translate(0, 50%);
}

.layout-banner__search .banner-search__desc {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.layout-banner__search .banner-search__sub-desc {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.layout-banner__search .banner-search__form {
  display: flex;
  margin: 2rem 0;
  border: 0.05rem solid rgba(255, 255, 255, 0.4);
  border-radius: 0.8rem;
}

.layout-banner .banner-search__form-input {
  height: 5rem;
  flex: 5;
  margin-left: -0.06rem;
  padding: 2.3rem 0;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  padding-left: 2rem;
}

.layout-banner .banner-search__form-input:focus {
  outline: none;
}

.layout-banner .banner-search__form-btn {
  color: var(--color-white);
  height: 5rem;
  background-color: var(--color-blue);
  flex: 1;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.layout-banner .banner-search__form-btn i {
  font-size: 2.5rem;
  transform: translate(2.6rem, 1.2rem);
}

.layout-banner__search .banner-search__filters {
  min-height: 22rem;
  width: 100%;
}

.layout-banner__search .banner-search__filter {
  display: inline-block;
  text-decoration: none;
}

.banner-search__filter+.banner-search__filter {
  padding: 1.3rem 0.3rem;
}

.layout-banner__search .banner-search__media-appstore,
.layout-banner__search .banner-search__media-googleplay {
  display: inline-block;
  margin-right: 2rem;
}

.layout-banner__search .banner-search__paragraph {
  margin: 1.4rem 0;
  font-size: 2rem;
}

.layout-banner__search .banner-search__media-img {
  width: 16.4rem;
  height: 5.1rem;
  object-fit: cover;
  outline: 1px solid var(--color-white);
  border-radius: 8px;
}

/* ======================================================== */
/* Layout Banner Menu */
.layout-banner__menu {
  height: 100%;
  width: 67rem;
  position: absolute;
  top: 0;
  right: 0;
  color: var(--color-white);
}

.layout-banner__menu .banner-menu__tab {
  height: 5rem;
  background: var(--color-white);
  margin: 12rem 0 2.6rem;
  box-shadow: 0.1rem 0.1rem 0.4rem var(--color-black);
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  border-radius: 0.5rem;
}

.layout-banner__menu .banner-menu__tab-title {
  color: var(--color-blue);
  font-size: 1.6rem;
}

.layout-banner__menu .banner-menu__tab-icon,
.layout-banner__menu .banner-menu__tab-desc {
  color: var(--color-black);
  font-size: 1.2rem;
}

.layout-banner__menu .banner-menu__tab-icon--move-left {
  transform: translateX(-10rem);
}

.layout-banner__menu .banner-menu__tab-desc {
  font-size: 1.4rem;
  font-weight: 400;
  transform: translateX(-20rem);
}

/* ======================================================== */

/* Coporation */
.layout-coporation {
  min-height: 18em;
  background: inherit;
}

.layout-coporation .coporation-container__article {
  height: 30.5em;
  background: var(--color-white);
  margin: 5em 0;
  box-shadow: 0.2em 0.2em 0.8em var(--color-black-l);
  border-radius: 0.4em;
}

.layout-coporation .coporation-container__article {
  display: flex;
  justify-content: center;
}

.coporation-container .coporation-container__article-title {
  font-size: 2.4rem;
  margin: 0.8em 0 0.1em;
}

.coporation-container .coporation-container__article-pagraph {
  font-size: 1.4rem;
  margin: 1em 0;
}

.coporation-container .coporation-container__article--has-img {
  position: relative;
  top: 0;
  left: 0;
}

.coporation-container .coporation-container__article--has-img .coporation-container__article-item--img-left {
  position: absolute;
  top: 14%;
  left: 8%;
}

.coporation-container .coporation-container__article--has-img .coporation-container__article-item--img-right {
  position: absolute;
  top: -7%;
  right: 0;
}

.coporation-container .coporation-container__article--has-img .coporation-container__article-item--img-right-small {
  position: absolute !important;
  top: 4.1em;
  right: 0;
}

.coporation-container .coporation-container__article--has-img .coporation-container__article-image {
  width: 80%;
}

.coporation-container__article.coporation-container__article--has-img .coporation-container__article-pagraph {
  max-width: 700px;
}

/* ======================================================== */

/* Coporation Paragraph */
.coporation-container__article.coporation-container__article--has-img .coporation-container__article-pagraph--bold {
  color: var(--color-black);
  font-weight: 700;
}

.coporation-container__article.coporation-container__article--has-img .coporation-container__article-pagraph--link {
  text-decoration: none;
  color: var(--color-blue);
  font-size: 1.5rem;
  font-weight: 700;
}

.coporation-container__article.coporation-container__article--has-img .coporation-container__article-pagraph--red {
  color: var(--color-red);
}

.coporation-container__article.coporation-container__article--has-img .coporation-container__article-pagraph--big {
  font-size: 2.1rem;
}

/* ======================================================== */

/* Index Category */
.layout-category {
  min-height: 21em;
  margin: 2em 0 4em;
}

.category-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.category-container+.category-container {
  margin-top: 2em;
}

/*  Category Title */
.layout-category .category-title__name {
  font-size: 1.8rem;
  margin-bottom: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
}

/* ======================================================== */

/* Category Group */

.category-group {
  min-width: 29em;
}

.category-group__item+.category-group__item {
  margin-top: 6em;
}

.category-group .category-group__item-title a {
  text-decoration: none;
  color: var(--color-black-bl);
  font-weight: 500;
  font-size: 1.6rem;
  text-transform: uppercase;
}

/* Category Item List  */
.category-group .category-group__item-list {
  list-style: none;
  max-width: 29em;
}

.category-group .category-group__item-list .category-group__item-name {
  display: inline-block;
  padding: 0 0.4em;
  position: relative;
  top: 0;
  left: 0;
}

.category-group .category-group__item-name:not(:last-child)::before {
  content: "";
  display: block;
  width: 0.01em;
  height: 1.4em;
  background-color: #000;
  position: absolute;
  top: 6px;
  right: -2px;
}

.category-group .category-group__item-list a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--color-black-bl);
}

.category-group .category-group__item-list a:hover,
.category-group .category-group__item-title a:hover {
  color: var(--color-blue);
  font-weight: 700;
  transition: all 0.5s ease-in;
}

/* ======================================================== */
/* Modal Banner Menu Tag */
.modal-bannertag {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  display: none;
}

.modal-bannertag.show-tag {
  display: block;
}

.modal-bannertag .modal-bannertag__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--color-black-l);
}

.modal-bannertag .modal-bannertag__inner {
  position: absolute;
  min-height: 16rem;
  width: 90rem;
  background-color: #fff;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -35%);
}

/* ======================================================== */

/* Modal Banner Tag Header */
.modal-bannertag .modal-bannertag__header {
  height: 4.4rem;
  background-color: var(--color-silver-l);
  position: relative;
  top: 0;
  left: 0;
}

.modal-bannertag__header .modal-bannertag__title {
  font-size: 1.8rem;
  margin-left: 2rem;
  text-align: center;
  transform: translateY(0.8rem);
}

.modal-bannertag__header .modal-banner__close-icon {
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
}

.modal-bannertag__header .modal-banner__close-icon i {
  font-size: 2.4rem;
}

/* Modal Banner Tag Body */
.modal-bannertag .modal-banner__body {}

.modal-banner__body .modal-banner__form {
  width: 95%;
  height: 3rem;
  transform: translateY(1rem);
  outline: 1px solid var(--color-black);
  margin: 1rem auto 0;
  display: flex;
  border-radius: 0.5rem;
}

.modal-bannertag .modal-banner__form-icon {
  flex: 0.1;
  transform: translate(1rem, 1rem);
}

.modal-bannertag .modal-banner__form-input {
  flex: 2;
  outline: none;
  border: none;
}

.modal-bannertag .modal-banner__location {
  width: 90%;
  display: flex;
  margin: 2rem auto 0;
}

.modal-bannertag .modal-banner__location-icon {
  flex: 0.1;
  font-size: 2rem;
  transform: translateY(0.6rem);
}

.modal-bannertag .modal-banner__location-paragraph {
  flex: 2;
  font-size: 2rem;
  color: var(--color-blue-l);
}

/* =================================================================================== */
/* Menu Detail Tab */

.layout-banner__menu .banner-menu__content {}

.layout-banner__menu .banner-menu__detail {}



/* =================================================================================== */