/* ============================================================================ */

/* Layout */
/* .layout-container {
  margin-top: 7em;
  padding: 3.6em 0;
} */

/* Layout Form */
/* .layout-form {
  width: 60em;
  min-height: 26em;
  margin: auto;
  background: var(--color-white);
  border-radius: 1.2em;
  padding: 0 2em;
} */

/* ============================================================================ */

/* ============================================================================ */
