.hidden-scroll {
  width: 100%;
  height: 200px;
  border: 1px solid #aaa;
  overflow: hidden;
}

.scroll-content {
  height: 100%;
  margin-right: -50px; /* Maximum width of scrollbar */
  padding-right: 50px; /* Maximum width of scrollbar */
  overflow-y: scroll;
}
